.app {
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.spinner-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.error {
    width: 100%;
    height: 300px;
    background-image: url(../errorFolder/background-image-404.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.error p {
    font-size: 35px;
}

